/*********** CSS RESET ************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,footer, header, menu, nav, section { display: block; }
body {	line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********** CSS RESET END ************/

@font-face {
	font-family: "Tuffy";
	src: url("../fonts/Tuffy-webfont.woff");
}

@font-face {
	font-family: "League Gothic";
	src: url("../fonts/leaguegothic-regular-webfont.ttf");
}

p {
	font-family: League Gothic, Tahoma, sans-serif;
}

header {
	width: 100%;
	background: url("../img/bg-darkGrey.png");
	box-shadow: 0 0 20px #000;
	position: relative;
	z-index: 2;
}

nav {
	vertical-align: middle;
	display: inline-block;
}

nav > ul > li {
	display: inline-block;
	margin-left: 38px;
}

nav > ul > li > a > p {
	font-size: 26px;
	color: #e5e5e5;
}

footer {
	height: 90px;
	background: url("../img/bg-darkGrey.png");
}

/*********** CLASSES ************/

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 5px;
	position: relative;
}

.boxButton {
	border-radius: 10px;
	border: 1px solid #46d4ec;
	font-size: 24px;
	color: #46d4ec;
	padding: 6px 8px 4px 8px;
}

.pkg-item {
	width: 300px;
	background-color: rgba(0,0,0,0.3);
	display: inline-block;
	margin-right: 20px;
	text-align: left;
}

.cta-heading {
	font-size: 34px;
	display: inline-block;
	vertical-align: middle;
}

.positives-item {
	height: 620px;
	width: 400px;
	margin: 0 auto;
	display: inline-block;
}

/*********** IDENTIFIERS ************/

#mainHeading {
	color: #ec5e46;
	font-size: 60px;
	vertical-align: middle;
	display: inline-block;
}

#loginarea {
	display: inline-block;
	position: absolute;
	right: 0;
	padding: 12px 0 0 0;
}

#loginarea p {
	display: inline-block;
}

#logIn {
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
}

#or {
	font-size: 20px;
	color: #e5e5e5;
}

#carousel-section {
	height: 530px;
	background: url("../img/peak.png") 50% 80% no-repeat;
	background-size: cover;
	margin: auto;
}

#callToAction1 {
	background: url("../img/bg-darkGrey.png");
	text-align: center;
	padding: 5px;
}

#startNow-CTA {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

#positives-section {
	background: url("../img/cliff.png") no-repeat center;
	background-size: cover;
	text-align: center;
}

#callToAction2 {
	height: 60px;
	background: url("../img/bg-darkGrey.png");
}

#packages-section {
	background: url("../img/sunset_skyline.png") 50% 40% no-repeat;
	background-size: cover;
	text-align: center;
}

/*********** MOBILE FORMATTING ************/

/* Small monitor size */
@media (max-width: 1280px) {

}

/* iPad size */
@media (max-width: 1024px) {

}

/* Mobile size */
@media (max-width: 768px) {

}