/*********** CSS RESET ************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,footer, header, menu, nav, section { display: block; }
body {	line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********** CSS RESET END ************/

@font-face {
	font-family: "Tuffy";
	src: url("../fonts/Tuffy-webfont.woff");
}

@font-face {
	font-family: "League Gothic";
	src: url("../fonts/leaguegothic-regular-webfont.ttf");
}

p {
	font-family: League Gothic, Tahoma, sans-serif;
}

header {
	height: 70px;
	width: 100%;
	background: url("../img/bg-darkGrey.png");
	box-shadow: 0px 50px 10px #000;
}

nav {
	padding-top: 26px;
	margin-left: 300px;
}

nav > ul > li {
	display: inline-block;
	margin-left: 38px;
}

nav > ul > li > a > p {
	font-size: 26px;
	color: #e5e5e5;
}

footer {
	height: 90px;
	background: url("../img/bg-darkGrey.png");
}

.container {
	width: 1280px;
	margin: 0 auto;
}

#mainHeading {
	color: #ec5e46;
	font-size: 60px;
	padding: 5px;
	float: left;
}

#headerActions {
	float: right;
	position: relative;
	bottom: 34px;
}

#boxButton {
	border-radius: 10px;
	border: 1px solid #46d4ec;
	font-size: 24px;
	color: #46d4ec;
	padding: 4px 8px;
}

#carousel {
	height: 530px;
	background: url("../img/peak.png") 50% 80% no-repeat;
	background-size: cover;
	margin: auto;
}

#callToAction1 {
	height: 60px;
	background: url("../img/bg-darkGrey.png");
}

#positives {
	height: 620px;
	background: url("../img/cliff.png") no-repeat center;
	background-size: cover;
}

#callToAction2 {
	height: 60px;
	background: url("../img/bg-darkGrey.png");
}

#packages {
	height: 680px;
	background: url("../img/sunset_skyline.png") 50% 40% no-repeat;
	background-size: cover;
}

/* Small monitor size */
@media (max-width: 1280px) {

}

/* iPad size */
@media (max-width: 1024px) {

}

/* Mobile size */
@media (max-width: 768px) {

}